a{
    text-decoration: none; /* 取消下划线 */
    color: black; /* 继承父元素的文本颜色 */
}

.header {
    height: 80px;
    background-color: antiquewhite;
    width: 100%;
    
}

.header_width{
   
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: aliceblue;
}

 .header_width .nav {
    /* background-color: aqua; */
    width: 9%;
    float: left;
    margin-left: 5%;
 }

.header a {
    font-size: 30px;
    line-height: 80px;
    margin: auto;
    text-align: center;
}